In [4]:
# Importing Necessary Modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns  # Importing seaborn for better visualization
from sklearn.manifold import TSNE
from sklearn.preprocessing import StandardScaler

In [5]:
# Load the dataset
data = pd.read_csv('climate data.csv')
data.head()

,temperature,precipitation,humidity,co2_levels,wind_speed,sea_level_rise
0,17.483571,981.882760,40.290589,429.955082,7.747558,2.257752
1,14.308678,654.528792,50.808133,338.392099,1.635120,3.027678
2,18.238443,607.711318,88.206106,405.580543,7.408273,2.956763
3,22.615149,641.413967,76.847271,353.561850,2.255336,3.169446
4,13.829233,1374.304042,46.955450,330.552974,6.331719,2.627995

In [6]:
data.tail()

,temperature,precipitation,humidity,co2_levels,wind_speed,sea_level_rise
9995,21.505510,1524.406697,52.797263,422.119236,14.194309,2.734895
9996,5.008275,1774.867153,65.575385,391.016348,7.487838,2.362891
9997,11.473416,823.585236,70.302313,394.083183,7.472625,4.229241
9998,17.478828,1630.739393,68.710204,425.080224,11.627498,1.638339
9999,18.221942,1822.032860,81.795935,522.296947,11.341150,2.914624

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   temperature     10000 non-null  float64
 1   precipitation   10000 non-null  float64
 2   humidity        10000 non-null  float64
 3   co2_levels      10000 non-null  float64
 4   wind_speed      10000 non-null  float64
 5   sea_level_rise  10000 non-null  float64
dtypes: float64(6)
memory usage: 468.9 KB

In [8]:
scaler = StandardScaler()
data_scaled  = scaler.fit_transform(data) 
print(pd.DataFrame(data_scaled ,columns =data.columns).head())

   temperature  precipitation  humidity  co2_levels  wind_speed  \
0     0.497154      -0.642090 -1.133148    0.606334    0.057360
1    -0.135665      -1.395950 -0.522296   -1.200923   -1.357867
2     0.647615      -1.503765  1.649752    0.125233   -0.021196
3     1.519979      -1.426152  0.990039   -0.901505   -1.214267
4    -0.231228       0.261613 -0.746058   -1.355650   -0.270453

   sea_level_rise
0       -0.747935
1        0.026025
2       -0.045261
3        0.168535
4       -0.375752

In [12]:
tsne = TSNE(n_components=2, perplexity=30 , n_iter=300 ,random_state=0)
data_tsne= tsne.fit_transform(data_scaled)
tsne_df = pd.DataFrame(data_tsne, columns=["t-SNE-1", "t-SNE-2"])